# Backend connection to Postgres (used by docker-compose)
DB_URL=jdbc:postgresql://db:5432/voyagezvert
DB_USER=postgres
DB_PASSWORD=postgres

# Postgres container settings
POSTGRES_DB=voyagezvert
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# JWT configuration
JWT_SECRET=becaa3ff03c462e78f313f8403c05584c2f6117612a057bc12797846d8292867b2d23ce8
JWT_EXPIRATION_MS=3600000
